<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">


</head>

<body ng-app="causa">
  <div ng-controller="ContextController">
    <theses-directive distances="distances" authors-lookup="authorsLookup" theses="theses"></theses-directive>
  </div>
  <script type="text/ng-template" id="/theses.html">
    <div class="context-area">
      <ul class="theses">
        <li ng-repeat="thesis in theses"><thesis-directive distances="distances" thesis="thesis" authors-lookup="authorsLookup" active-article="currentArticle"></thesis-directive></li>
      </ul>
      <svg class="drawing-canvas"></svg>
    </div>
  </script>
  <script type="text/ng-template" id="/thesis.html">
    <div class="thesis" ng-class="{active: isActive}">
      {{thesis.id}}
      <br/>
      {{distances['39926eec0868833d6729637c229419c5'][thesis.id]}}
      <p>{{text}}</p>
      {{articleHeadline}}
      <br/>
      Author: {{authorsLookup[thesis.author_id].name}}

      <div class="thesis--votes">
        <h3 ng-show="positiveVoteCount > 0">{{positiveVoteCount}} + votes:</h3>
        <ul><li ng-repeat="vote in thesis.getPositiveVotes() ">{{authorsLookup[vote.author_id].name}}</li></ul>
        <h3 ng-show="neutralVoteCount > 0">{{neutralVoteCount}} ¯\_(ツ)_/¯ votes:</h3>
        <ul><li ng-repeat="vote in thesis.getNegativeVotes() ">{{authorsLookup[vote.author_id].name}}</li></ul>
        <h3 ng-show="negativeVoteCount > 0">{{negativeVoteCount}} - votes:</h3>
        <ul><li ng-repeat="vote in thesis.getNeutralVotes() ">{{authorsLookup[vote.author_id].name}}</li></ul>
      </div> <!-- /#thesis--votes -->
    </div>
  </script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-collection.v1.min.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-format.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-time.v1.min.js"></script>
  <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
  <script src="node_modules/d3-path/build/d3-path.min.js"></script>
  <script src="node_modules/d3-shape/build/d3-shape.min.js"></script>
  <script src="node_modules/d3-array/build/d3-array.min.js"></script>
  <script src="node_modules/d3-scale/build/d3-scale.min.js"></script>
  <script src="node_modules/d3-selection/build/d3-selection.min.js"></script>
  <script src="node_modules/lodash/lodash.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/causa/causa.js"></script>
  <script src="js/causa/theses/thesis.js"></script>
  <script src="js/causa/theses/thesesDirective.js"></script>
  <script src="js/causa/theses/thesisDirective.js"></script>
  <script src="js/causa/author/author.js"></script>
  <script src="js/causa/articles/article.js"></script>
  <script src="js/causa/votes/vote.js"></script>
  <script src="js/causa/context/contextController.js"></script>
</body>
</html>
